<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.landao.hearu.mapper.TopicMapper">

    <resultMap id="TopicVO" type="com.landao.hearu.model.page.topic.TopicVO" autoMapping="true">
        <id property="topicId" column="topic_id"/>
        <association property="author" autoMapping="true" columnPrefix="author_"
                     javaType="com.landao.hearu.model.page.topic.DetailUserVO">
            <id property="userId" column="user_id"/>
        </association>
    </resultMap>

    <select id="pageTopic" resultMap="TopicVO">
        select t.id as topic_id,
               t.title,
               t.content,
               t.create_time,
               t.update_time,
               u.id as author_user_id,
               u.name as author_name,
               u.telephone author_telephone,
               u.sex author_sex,
               u.avatar author_avatar,
               u.signature author_signature,
               (select count(*) from comment c where c.topic_id=t.id) as comment_count,
               (select count(*) from topic_like tl where tl.topic_id=t.id)as like_count,
               t.user_id=#{userId} as mine,
               (select count(*) from topic_like tl where tl.topic_id=t.id and tl.user_id=#{userId})=#{userId} as `like`
        from topic t
                 inner join user u on t.user_id = u.id
        where t.type=#{topicType}
        order by t.update_time desc
    </select>

    <resultMap id="SelfTopicVO" type="com.landao.hearu.model.page.topic.SelfTopicVO">
        <id property="topicId" column="topic_id"/>
    </resultMap>

    <select id="pageSelfTopic" resultMap="SelfTopicVO">
        select t.id as topic_id,
               t.title,
               t.content,
               t.create_time,
               t.update_time,
               (select count(*) from comment c where c.topic_id=t.id) as comment_count,
               (select count(*) from topic_like tl where tl.topic_id=t.id)as like_count,
               (select count(*) from topic_like tl where tl.topic_id=t.id and tl.user_id=#{userId})=#{userId} as `like`
        from topic t
        where t.type=0 and t.user_id=#{userId}
        order by t.update_time desc
    </select>

</mapper>
